<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="tf_prefix" default=""/>
    <node pkg="takeoff_land" type="takeoff_land_code.py" name="takeoff_land" output="screen">
        <remap from="/takeoff" to="/$(arg tf_prefix)/takeoff"/>
        <remap from="/land" to="/$(arg tf_prefix)/land"/>
        <remap from="/cmd_vel" to="/$(arg tf_prefix)/cmd_vel"/>
    </node>
</launch>
