[submodule "freenect_stack"]
	path = freenect_stack
	url = https://github.com/ros-drivers/freenect_stack.git
[submodule "geometry2"]
	path = geometry2
	url = https://github.com/ros/geometry2.git
[submodule "navigation"]
	path = navigation
	url = https://github.com/ros-planning/navigation.git
[submodule "hector_slam"]
	path = hector_slam
	url = https://github.com/tu-darmstadt-ros-pkg/hector_slam.git
[submodule "octomap_mapping"]
	path = octomap
	url = https://github.com/OctoMap/octomap.git
