<?xml version="1.0" encoding="UTF-8"?>
<launch>
  
  <arg name="database_path"     default="/home/ubuntu/catkin_ws/src/rtab_slam/db/rtabmap_auto.db"/>
  <arg name="localization"      default="false"/>
  <arg name="args"              default=""/>
  <arg name="tf_prefix"        default=""/>
  <arg name="wait_for_transform"  default="0.2"/> 
  
  <!-- Mapping -->
  <!--group ns="rtabmap"-->

    <node name="rtabmap" pkg="rtabmap_ros" type="rtabmap" output="screen" args="$(arg args)">
      <param name="database_path"       type="string" value="$(arg database_path)"/>
      <param name="frame_id"            type="string" value="$(arg tf_prefix)/base_footprint"/>
      <param name="odom_frame_id"       type="string" value="world"/>
      <param name="wait_for_transform_duration"  type="double"   value="$(arg wait_for_transform)"/>
      <param name="subscribe_depth"     type="bool"   value="true"/>
      <param name="subscribe_scan"      type="bool"   value="true"/>
    
      <!-- inputs -->
      <!--remap from="scan"            to="$(arg tf_prefix)/scan"/-->
      <remap from="rgb/image"       to="kinect/rgb/image_raw"/>
      <remap from="depth/image"     to="kinect/depth/image_raw"/>
      <remap from="rgb/camera_info" to="kinect/rgb/camera_info"/>
      
      <!-- output -->
      <remap from="grid_map" to="/map"/>
    
      <!-- RTAB-Map's parameters: do "rosrun rtabmap rtabmap (double-dash)params" to see the list of available parameters. -->
      <param name="RGBD/ProximityBySpace"        type="string" value="false"/>   
      <param name="RGBD/OptimizeFromGraphEnd"    type="string" value="false"/>  
      <param name="Kp/MaxDepth"                  type="string" value="4.0"/>
      <param name="Reg/Strategy"                 type="string" value="1"/>      
      <param name="Icp/CoprrespondenceRatio"     type="string" value="0.3"/>
      <param name="Vis/MinInliers"               type="string" value="5"/>      
      <param name="Vis/InlierDistance"           type="string" value="0.1"/>    
      <param name="RGBD/AngularUpdate"           type="string" value="0.1"/>    
      <param name="RGBD/LinearUpdate"            type="string" value="0.1"/>    
      <param name="Rtabmap/TimeThr"              type="string" value="700"/>
      <param name="Mem/RehearsalSimilarity"      type="string" value="0.30"/>
      <param name="Optimizer/Slam2D"             type="string" value="true"/>
      <param name="Reg/Force3DoF"                type="string" value="true"/>
      <param name="use_action_for_goal"          type="string" value="true"/>
      <param name="tf_prefix"                    type="string" value="$(arg tf_prefix)"/>

      <!-- localization mode -->
      <param     if="$(arg localization)" name="Mem/IncrementalMemory" type="string" value="false"/>
      <param unless="$(arg localization)" name="Mem/IncrementalMemory" type="string" value="true"/>
      <param name="Mem/InitWMWithAllNodes" type="string" value="$(arg localization)"/>    
      
    </node>
   
  <!--/group-->

   <!-- Navigation stuff (move_base) -->
   <include file="$(find rtab_slam)/launch/move_base.launch">
    <arg name="tf_prefix" value="$(arg tf_prefix)"/>
   </include>

  <!-- visualization with rtabmapviz -->
  <node pkg="rtabmap_ros" type="rtabmapviz" name="rtabmapviz" args="-d $(find rtabmap_ros)/launch/config/rgbd_gui.ini" output="screen">
    <param name="subscribe_depth"             type="bool" value="true"/>
    <param name="subscribe_scan"              type="bool" value="true"/>
    <param name="frame_id" type="string" value="$(arg tf_prefix)/base_link"/>
    <param name="queue_size"                   type="int"    value="30"/>

    <remap from="rgb/image"       to="/kinect/rgb/image_raw"/>
    <remap from="depth/image"     to="/kinect/depth/image_raw"/>
    <remap from="rgb/camera_info" to="/kinect/rgb/camera_info"/>
    <!--remap from="scan"            to="/scan"/-->
  </node>
  <!--/group-->
  
  
  <!--launch rviz for rtab-->
  <!--node name="rviz" pkg="rviz" type="rviz" respawn="false" args="-d /home/mcp/catkin_ws/src/Robotics/src/main_rviz.rviz"/-->
</launch>
