<?xml version="1.0" encoding="UTF-8"?>

<launch>

  <!-- World File -->
  <arg name="world_file" default="$(find swarm)/worlds/urban.world"/>
  <arg name="slam"	default="false"/> 
  <arg name="gui" default="true"/>
  <arg name="args" default=""/>
  <arg name="debug" default="false"/>
  <arg name="headless" default="false"/>
  <arg name="pause" default="true"/>

  <!-- Start up the Gazebo Simulator with the world file-->
  <node name="gazebo" pkg="gazebo_ros" type="gzserver" args="$(arg world_file) $(arg args)" respawn="false" output="screen"/>
 
 <!-- Start GUI -->
  <group if="$(arg gui)">
    <node name="gazebo_gui" pkg="gazebo_ros" type="gzclient" respawn="false" output="screen"/>
  </group>
 
  <!-- Spawn Simulated Hector Quadrotor -->
  <include file="$(find swarm)/launch/drones.launch">
    <arg name="slam" value="$(arg slam)"/> 
  </include>
 
</launch>
