<?xml version="1.0"?>
<launch>

    <!-- Launches Explore Lite and MoveBase for each Drone: 1 - 4 -->
    
    <group ns="drone1">
        <include file="$(find swarm)/launch/slam/explore_costmap.launch">
            <arg name="tf_prefix" value="drone1"/>
        </include>

        <include file="$(find swarm)/launch/slam/move_base_slam.launch">
            <arg name="tf_prefix" value="drone1"/>
        </include>
    </group>

     <group ns="drone2">

        <include file="$(find swarm)/launch/slam/explore_costmap.launch">
            <arg name="tf_prefix" value="drone2"/>
        </include>

        <include file="$(find swarm)/launch/slam/move_base_slam.launch">
            <arg name="tf_prefix" value="drone2"/>
        </include>
    </group>

    <group ns="drone3">

        <include file="$(find swarm)/launch/slam/explore_costmap.launch">
            <arg name="tf_prefix" value="drone3"/>
        </include>

        <include file="$(find swarm)/launch/slam/move_base_slam.launch">
            <arg name="tf_prefix" value="drone3"/>
        </include>
    </group>

     <group ns="drone4">
        
        <include file="$(find swarm)/launch/slam/explore_costmap.launch">
            <arg name="tf_prefix" value="drone4"/>
        </include>

        <include file="$(find swarm)/launch/slam/move_base_slam.launch">
            <arg name="tf_prefix" value="drone4"/>
        </include>
    </group>

</launch>
