<launch>

    <param name="/use_sim_time" value="true"/>

    <arg name="map_file" default="/home/ubuntu/catkin_ws/src/maps/urban.yaml"/>
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)">
        <param name="frame_id"  value="map"/>
    </node>

    <group ns="drone1">
        <param name="amcl/initial_pose_x" value="0" />
        <param name="amcl/initial_pose_y" value="1" />
        <include file="$(find octo_w_slam)/launch/amcl.launch">
            <arg name="tf_prefix" value="drone1"/>
        </include>

        <!--Call the navigation stack for drone1 -->
        <include file="$(find octo_w_slam)/launch/move_base.launch">
            <arg name="tf_prefix" value="drone1"/>
        </include>
    </group>

    <group ns="drone2">
        <param name="amcl/initial_pose_x" value="-10" />
        <param name="amcl/initial_pose_y" value="3" />
        <include file="$(find octo_w_slam)/launch/amcl.launch">
            <arg name="tf_prefix" value="drone2"/>
        </include>

        <!--Call the navigation stack for drone2 -->              
        <include file="$(find octo_w_slam)/launch/move_base.launch">
            <arg name="tf_prefix" value="drone2"/>
        </include>
    </group>

</launch>